html 
{
    font-family: Nunito, Arial, sans-serif;
}
  
  :root 
  {
    --background: #ffffff;
    --firstcolor: #F9BDBD;
    --secondcolor: #F7DEA6;
    --thirstcolor: #A8DCEC;
    --buttoncolor: #DAA520;
  }

.page
{
    position: relative;  
    width: 1152px;;
    background-color: var(--background);
}
.content
{
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: absolute;
    width: 1152px;
}
 .first-block
 {
    position: static;
    width: 1152px;
    height: 800px;   
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 120px;
 }
 
 .first-menu
 {
    position: absolute;
    width: 1152px;
    height: 80px;
    left: 0px;
    top: 0px;
 }

 .logo-part
{

}

 .logo-text 
 {
    position: absolute;
    width: 154px;
    height: 33px;
    left: 118px;
    top: 23px;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    letter-spacing: 0.25em;
    
    color: #3E3F43;
 }